
Optional Files/STEP/.DS_Store
Optional Files/STEP/Barrel holders/.DS_Store
.DS_Store
Required Files/.DS_Store
Required Files/Required files STEP/.DS_Store
Required Files/Required files STL and PDF/.DS_Store
Optional Files/.DS_Store
Optional Files/.DS_Store
